* {
  box-sizing: border-box;
}
#pinDefault {
  /* padding: 20px 40px; */
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  flex: 1
}
#pinDefault > span {
  height: 50px;
  flex: 1 1 30%;
  display: inherit;
  justify-content: center;
  align-items: center;
}
#pinDefault > span:first-child {
  flex: 1 1 100%;
}